<!-- 
    Filename:     bottom_nav.ejs 
    Student name: Hyesun An
    StudentID:    301314692
    Date:         Oct. 2, 2023 
  -->
<footer>
    <nav class="navbar navbar-dark bg-dark">
        <h6 class="display-6 navbar-text">&copy;2023 All rights reserved</h6>
    </nav>
</footer>