<!-- 
    Filename:     footer.ejs 
    Student name: Hyesun An
    StudentID:    301314692
    Date:         Oct. 2, 2023 
  -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>