<!-- 
    Filename:     header.ejs 
    Student name: Hyesun An
    StudentID:    301314692
    Date:         Oct. 2, 2023 
  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>

        <style>
        ul.navbar-nav {
            list-style: none; /* Remove the bullet */
            display: inline; /* Display the list items inline */
            float:none;
            position: absolute;
            font-size:30px;
        }
        
        ul.navbar-nav li { 
             display: inline-block; /* Make the list items display inline */
        }
        a:link { text-decoration: none;}

a {
    color: white;
    text-decoration: underline;
}

a:visited, a:link {
    color: white;
}

a:hover, a:active {
    color: #825190;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
}

body {
    color: white;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #54778b; 
    min-height: 100vh; 
    position: relative;
    padding: auto;
}

.container {
    max-width: 90%;
    margin:50px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
}

footer .navbar-text {
    margin-bottom: 0;
}


    </style>
</head>
<body>