<!-- 
    Filename:     about.ejs 
    Student name: Hyesun An
    StudentID:    301314692
    Date:         Oct. 2, 2023 
  -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
    <div class="jumbotron">
        <h1 class="display-4">About me</h1>
        <img src="/img/me.jpg" alt="myPhoto" style: width="150px"; height="200px">
        <p>Hello. My name is Ahn Hye-sun.</p>
        <p>I am a software engineering technician student at Centennial College. </p>
        <p>I enjoy studying programs. After graduating from school, I want to get a job in a related industry and continue to study.</p>
        <a href="/img/resume.jpg">Resume</p>
    </div>
</main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   