<!-- 
    Filename:     contact.ejs 
    Student name: Hyesun An
    StudentID:    301314692
    Date:         Oct. 2, 2023 
  -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<main class="container" style="height: 530px;">
    <div class="jumbotron" style="height: 550px;">
        <h1 class="display-6" style="color: rgb(255, 255, 255);">Contact Me</h1>
        <div style="font-size: 16px; width:510px; font-family: cursive; padding: 10px; float:right;">
            <form>
                <label><input type="text" id="fname" name="fname" placeholder="First Name"></label>
                <label><input type="text" id="lname" name="lname" placeholder="Last Name"></label>
                <label><input type="text" id="phone" name="phone" placeholder="Contact Number"></label>
                <label><input type="text" id="email" name="email" placeholder="Email ID"></label>
                <textarea type="text" id="msg" name="msg" placeholder="Message" rows="5" cols="48"></textarea>
                <button type="submit" form="form" value="Submit" class="btn btn-primary" onclick="Success()">Submit</button>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" style="font-size: 18px;  width:300px; font-family: cursive; padding: 10px;">
                <strong>Name:</strong><br>Hyesun, An<br>
                <strong>Email:</strong><br>han13@my.centennialcollege.ca<br>
                <strong>Phone:</strong><br>438-686-5382<br>
                
            </div>
        </div>
    </div>
</main>
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   